
<div class= "likelion" style="text-align:center; color:white; font-size:30px;">
    <br>
    <br>
    <p style="text-align:center;"><img  src="<%=asset_path 'footer/lion2.png'%>" alt="likeXlion" /></p>
    <br>
    <p class= "likelion" >어!　　　　　　　　　　　흥! </p><br>
    
</div>
