.timetable_item .day {
    font-size: 3rem;
    padding-top: 30px;
}
.timetable_item .where{
    font-size: 1.5rem;
}
.timetable_item .when{
    font-size: 1.5rem;
}
.timetable_item .title{
    font-size: 1.8rem;
    font-weight: bold;
    color: yellow;
    margin-top: 8px;
}
.line{
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}
#col {
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
}
.img_item{
    opacity:0.5;
    height: 650px;
    width: 100%;
}
