<footer class="navbar-static-bottom">
  <div class="container-flud">
              
    <img src="<%=asset_path 'footer/LIKELION2.png'%>"  alt="LIKEION_logo"/>
    X
    <img src="<%=asset_path 'footer/ACCENT2.png'%>" alt="ACCENT_logo"/>
    
  </div>
</footer>    